#!/bin/bash

# add it as `pre-push` file in your repository `.git/hooks folder`
# to test it - run `git push --dry-run`, it might be helpful :)

echo "yamllinter has been started"

remote="$1"
url="$2"
z40=0000000000000000000000000000000000000000

actual=`pwd`

scripts=()
apps=('checks')
for i in "${!apps[@]}"
do
	scripts[$i]="cd $(git rev-parse --show-toplevel)/"${apps[$i]}" && yamllint ."
done

while read local_ref local_sha remote_ref remote_sha
do
	if [ "$local_sha" = $z40 ]
	then
		:
	else
		range="$remote_sha..$local_sha"
		if [ "$remote_sha" = $z40 ] || [ -n "$range" ]; then

			for script in "${scripts[@]}"
			do
				eval "$script"
			done

			if [ $? -ne 0 ]; then
				printf "\n\nLinter failed :(  \t when running: $script)\n"
				exit 1
			fi
		fi
	fi
done

echo "yamllinter has been finished"
exit 0
